body {
    font-family: Arial, sans-serif;   
}


.navbar {
    background-color: #083a4e !important;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}


.navbar-brand {
    color: #ffffff !important; 
    font-weight: bold;
}



.navbar-nav .nav-link {
    background-color: #f8f9fa; 
    color: #343a40 !important; 
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    transition: background-color 0.3s ease;
}


.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    background-color: #dee2e6; 
}


.hero-section {
    background-color: #87CEEB;
    color: white; 
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-top: 80px; 
}


.hero-title {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.2;
}


.navbar-toggler {
    border-color: transparent;
}
.navbar-toggler-icon {
    
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}